root = true

[*]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = space
insert_final_newline     = true
trim_trailing_whitespace = true

[{WORKSPACE.bazel,BUILD.bazel}]
indent_size = 4

[*.bzl]
indent_size = 4

[.envrc]
indent_size = 2

[.nix]
indent_size = 2

[*.{yml,yaml,toml,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.go]
indent_style = tab
