### Bazel
/bazel-*
/.bazelrc.local

# Bazel's MODULE lockfile isn't ready to check in yet:
# Store resolved repository attributes in the Bzlmod lockfile: https://github.com/bazelbuild/bazel/issues/19026
# Consider skipping bazel_tools@_ from lockfile: https://github.com/bazelbuild/bazel/issues/19971
# MODULE.bazel.lock

### Direnv
/tmp

### Direnv
/.direnv

# rust-analyzer
/rust-project.json

### Dev Container
# TODO: Remove once 'down' is supported.
# https://github.com/devcontainers/ci/issues/207
.devcontainer/exec.sh
.devcontainer/build.json
.devcontainer/up.json
