name: CI

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

jobs:
  ValidatePR:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - name: Title
        run: |
          [[ "${{ github.event.pull_request.title }}" =~ ^[a-z]{1}[a-z/_-]*:\ [a-z]{1}.*[^.]$ ]]

  Testing:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        env:
          cache-name: bazel-cache
        with:
          path: |
            ~/.cache/bazel
            ~/.cache/bazelisk
          key: ${{ matrix.os }}-${{ env.cache-name }}-${{ github.sha }}
          restore-keys: ${{ matrix.os}}-${{ env.cache-name }}-

      - name: Create .bazelrc for actions
        run: cp .github/bazelrc .bazelrc.local

      - name: Build
        run: bazel build --config=testing //...

      - name: Test
        run: bazel test --config=testing //...

      # TODO: Test fuzzing targets
      # - name: Fuzz
      #   run: bazel build --config=fuzzing //...
